# Allow init to mount vendor overlays
allow init vendor_overlay_file:dir mounton;

# Last kmsg
allow init proc_last_kmsg:file { r_file_perms setattr };
